<div id="controls">
    <a id="new-sm-game" href="#">New 9x9 Game</a>
    <a id="new-med-game" href="#">New 16x16 Game</a>
    <a id="new-lg-game" href="#">New 32x16 Game</a>
</div>
<div id="scoreboard">
    <div class="panel">
        <div class="panel-body">
            <h3>Mines Left</h3>
            <div id="mines-left">00</div>
        </div>
    </div>
    <div class="panel">
        <div class="panel-body">
            <h3>Timer</h3>

            <div id="timer">00:00</div>
        </div>
    </div>
</div>
<div id="board">

</div>

