
$babyblue: #009999;



/* Space out content a bit */
body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  padding-top: 20px;
  padding-bottom: 20px;
  background: #111;
  color: $babyblue;
}

.header {
  .nav {
    float: right;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    li  {
      display: inline-block;
    }
  }
}

#controls {
  a {
    display: inline-block;
    background-color: #222;
    color: #666;
    padding: 1%;
    border-radius: 3px;
    border: 1px outset #333;
    width: 30.5%;
    text-align: center;
    &:hover {
      border: 1px solid #333;
      background-color: #333;
      color: #fff;
    }
  }
}

.container {
  width: 648px;
  margin: auto;
}

h1, h2, h3, h4 {
  color: #babyblue;
}

a {
  color: darken($babyblue, 10%);
  text-decoration: none;
  &:hover {
    color: $babyblue;
  }
}

#scoreboard > .panel {

  width: 44%;
  float: left;
  clear: right;
  text-align:center;
  margin: 2%;
  .panel-body {
    border: 1px inset #222;
    background: #222;
    color: $babyblue;
    padding: 20px;
    border-radius: 10px;
    h3 {
      font-size: 14px;
      padding: 0px;
      margin: 0px;
    }
    div {
      font-size: 40px;
      font-weight: bold;
    }
  }
}




/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #222;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
}

#content {
  overflow: auto;
  width: 100%;
  display: block;
  margin-bottom: 30px;
}

#board {
  display: block;
  margin: auto;

  .cell {
    border: 1px outset #333;
    background: #222;
    float: left;
    clear: right;
    cursor: pointer;
    color: $babyblue;
    text-align: center;
    border-radius: 3px;

    small {
      font-size: 9px;
      color: #ccc;
    }
  }

  .cleared {
    border: 1px solid #555;
    background: #444;
    color: $babyblue;
  }
}

.board-sm {
  width: 482px;
  .cell {
    width: 50px;
    height: 50px;
    font-size: 30px;
  }
}

.board-md {
  width: 644px;
  .cell {
    width: 38px;
    height: 38px;
    font-size: 25px;
  }
}

.board-lg {
  width: 644px;
  .cell {
    width: 24px;
    height: 24px;
    font-size: 14px;
  }
}

